################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ON/PriyankaKamdar/Module1/Practice

/ON/PriyankaKamdar/Module2/Enums/.vs/Enums
/ON/PriyankaKamdar/Module2/Arrays/.vs/Arrays
/ON/PriyankaKamdar/Module2/2DArrays/.vs/2DArrays
/ON/PriyankaKamdar/Module1/HelloWorld/HelloWorld/obj/Release/netcoreapp3.1

