################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ON/Holly Minch/Module 2/2DArrays/2DArrays/.vs/2DArrays
/ON/Holly Minch/Module 2/Arrays/.vs/Arrays
/ON/Holly Minch/Module 2/Enums/Enums/.vs/Enums
/ON/Holly Minch/Module 2/2DArrays/2DArrays/2DArrays/obj/Release/netcoreapp3.1
/ON/Holly Minch/Module 1/PE01 Coding and Debugging/bin/Debug/netcoreapp3.1
/ON/Holly Minch/Module 1/PE01 Coding and Debugging/obj/Debug/netcoreapp3.1
/ON/Holly Minch/Module 1/PE01 Coding and Debugging/obj/Release/netcoreapp3.1
/ON/Holly Minch/Module 2/2DArrays/2DArrays/2DArrays/bin/Debug/netcoreapp3.1
/ON/Holly Minch/Module 2/2DArrays/2DArrays/2DArrays/obj/Debug/netcoreapp3.1
/ON/Holly Minch/Module 2/Arrays/Arrays/bin/Debug/netcoreapp3.1
/ON/Holly Minch/Module 2/Arrays/Arrays/obj/Release/netcoreapp3.1
/ON/Holly Minch/Module 2/Arrays/Arrays/obj/Debug/netcoreapp3.1
/ON/Holly Minch/Module 2/Enums/Enums/Enums/bin/Debug/netcoreapp3.1
/ON/Holly Minch/Module 2/Enums/Enums/Enums/obj/Debug/netcoreapp3.1
/ON/Holly Minch/Module 2/Enums/Enums/Enums/obj/Release/netcoreapp3.1
