################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ON/Module 1/Test w Kim/.vs/Test w Kim/v16
/ON/Module 1/Test 2 w Kim/.vs/Test 2 w Kim/v16
